<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.AdviceMapper">

    <!-- 插入一条诊疗建议 -->
    <insert id="insertAdvice" parameterType="com.example.entity.Advice" useGeneratedKeys="true">
        insert into `advice`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="adviceContent != null">advice_content,</if>
            <if test="adviceTime != null">advice_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="doctorId != null">#{doctorId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="adviceContent != null">#{adviceContent},</if>
            <if test="adviceTime != null">#{adviceTime},</if>
        </trim>
    </insert>

    <!-- 更新一条诊疗建议 -->
    <update id="updateAdvice" parameterType="com.example.entity.Advice">
        update `advice`
        <set>
            <if test="adviceContent != null">
                advice_content = #{adviceContent},
            </if>
            <if test="adviceTime != null">
                advice_time = #{adviceTime},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

    <!-- 根据ID删除一条诊疗建议 -->
    <delete id="deleteAdviceById">
        delete from `advice`
        where id = #{id}
    </delete>

    <!-- 根据ID查询诊疗建议 -->
    <select id="selectAdviceById" resultType="com.example.entity.Advice">
        select * from `advice`
        where id = #{id}
    </select>

    <!-- 根据用户ID查询所有诊疗建议 -->
    <select id="selectAllAdviceByUser" resultType="com.example.entity.Advice">
        select * from `advice`
        where user_id = #{userId}
    </select>
    <select id="selectAllAdviceByDoctor" resultType="com.example.entity.AdviceDto">
        select * from `advice`
        where doctor_id = #{id}
    </select>


</mapper>
